
.reveal img.image-l {
    width: 60%;
}

.reveal img.image-m {
    width: 50%;
}

.reveal img.image-s {
    width: 30%;
}

.fragment.grow-and-highlight {
    text-align: left; 
    margin-bottom: .5em;
    transform-origin: left;
}

.reveal code.monospace {
    font-family: monospace;
    font-size: .8em;
}

.reveal section img.inline-image {
    width: 17%;
    display: inline-block;
    vertical-align: baseline;
    border: 0;
    background: none;
    margin: 0 15px 0 0;
}

.reveal p.heavy-text-page {
    font-size: .6em;
}

.reveal p.left-p {
    text-align: left;
    line-height: 1.3em;
}

.reveal img.clean-image {
    margin: 0;
    background: none;
    border: none;
    box-shadow: none;
}

.reveal img.list-icon {
    width: 10rem;
    vertical-align: middle;
    max-height: unset;
}

.highlight-blue.visible.important {
    text-decoration: underline;
}

.reveal div.list-row {
    display: grid;
    grid-template-columns: 1fr 2fr 9fr;
    grid-gap: 1.5rem 1rem;
    margin-bottom: 5rem;
}

.reveal div.list-mime div {
    text-align: left;
}

.reveal div.list-category {
    font-weight: bold;
    color: #4452B8;
}


.reveal ul.timeline-list {
    list-style: none;
    border-left: 3px solid #a70000;
    padding-left: 1.5rem;
    margin: 0;
}

.reveal ul.timeline-list li {
    margin: 0 0 2rem 0;
    font-size: 2.5rem;
}

.reveal ul.timeline-list .timeline-title {
    color: #4452B8;
    border-bottom: 3px solid #a70000;
    padding-left: 1.5rem;
    margin-left: -1.5rem;
    text-shadow: #999 1px 1px 1px;
    font-weight: bold;
    display: inline-block;
    font-size: 2.5rem;
}

.reveal section#resources-slide {
    text-align: left;
}

.reveal section#resources-slide a{
    font-size: 2rem;
}

.reveal section#resources-slide h6{
    border-bottom: 3px solid #a70000;
    margin: 2rem 0 2rem;
    display: inline-block;
    font-size: 2rem;
}

.reveal a {
    text-decoration: underline;
}